<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mau.chorely">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.utils.ScoreboardActivity" />
        <activity
            android:name=".activities.CentralActivity"
            android:parentActivityName=".activities.ManageGroupsActivity" />
        <activity
            android:name=".activities.CreateRewardActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Lägg till belöning"
            android:parentActivityName=".activities.CentralActivity" />
        <activity
            android:name=".activities.CreateChoreActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Lägg till syssla"
            android:parentActivityName=".activities.CentralActivity" />

        <activity android:name=".activities.CreateEditGroupActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Lägg till grupp"
          />
        <activity
            android:name=".activities.ConnectActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ManageGroupsActivity"
            android:label="@string/label_groups" />
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/register_title"
            android:parentActivityName=".activities.MainActivity" />

        <activity android:name=".activities.LogInActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Logga in"
            android:parentActivityName=".activities.MainActivity" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
